<body style="background-color: dodgerblue;">
    <h1 style="text-align: center;">Register</h1>
    <form action="/register" method="POST" style="margin: 0 auto; width: 300px;">
        <div style="margin-bottom: 20px">
            <label for="name">Name</label>
            <input type="text" id="name" name="name" required>
        </div>
        <div style="margin-bottom: 20px">
            <label for="email">E-Mail</label>
            <input type="email" id="email" name="email" required>
        </div>
        <div style="margin-bottom: 20px">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div style="text-align: center;">
            <button type="submit" style="background-color: green;">Register</button>
        </div>
    </form>
    <div style="text-align: center; margin-top: 15px;">
        <a href="/login" style="text-decoration: none;">Login</a>
    </div>
</body>